.body {
  font-family: Arial, sans-serif;
 
  margin: 0;
  padding: 0;
}
.box-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
.h1 {
  text-align: center;
  color: #333;
  margin: 20px 0;
}
.box{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
 border: 2px solid black;
  font-weight: bold;
  color: white;
  font-size: 14px;
  cursor: pointer;
}